# Папка с зависимостями Node.js (если используется)
node_modules/

# Временные файлы
.DS_Store
Thumbs.db

# Логи и отладочные файлы
*.log
npm-debug.log*

# Компилированные файлы JavaScript (если используются)
/dist/

# Локальные настройки IDE/редактора
.idea/
.vscode/